@model ProyectoEventos.Models.Evento

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Título
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Fecha y Hora
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            Ubicación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            Link de compra
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
            @if (!string.IsNullOrEmpty(Model.ImagenUrl))
            {
            <dt class="col-sm-2">
                Imagen
            </dt>
            <dd class="col-sm-10">
                <img src="/@Url.Content(Model.ImagenUrl)"
                     alt="Imagen del evento"
                     class="img-fluid rounded"
                     style="max-height: 300px;" />
            </dd>
            }
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt> *@
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
