@model IEnumerable<ProyectoEventos.Models.Evento>

@{
    ViewData["Title"] = "Mis Eventos";
}

<h1>Mis Eventos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Evento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
                @foreach (var item in Model) {
        <tr>
            <td>
                    <img src="@item.ImagenUrl" style="height:50px" />
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                @* <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> *@
            </td>
        </tr>
                }
    </tbody>
</table>
